* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: linear-gradient(#e6ded8, #c9c2bc);
  /* background-size: cover; */
}

#top {
  text-align: center;
}

#filter-bar {
  display: flex;
}

#main-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

#hat {
  width: 300px;
}

#students {
  display: flex;
  flex-flow: row wrap;
}
