* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: linear-gradient(90deg, #c9c2bc, #e6ded8, #c9c2bc);
  /* background-size: cover; */
}

#top {
  text-align: center;
}

.filter-bar {
  display: flex;
}

.filter-btn {
  flex-grow: 1;
  text-align: center;
  padding: 10px 20px;
}

.filter-btn:hover {
  cursor: pointer;
}

.hide {
  display: none !important;
}

#main-container {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  padding: 30px;
}

.formToggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background: #efefef50;
}

#hat {
  width: 300px;
}

#students {
  display: flex;
  flex-flow: row wrap;
}

.gryffindor {
  background: rgb(158, 14, 43);
  color: #daa520;
}

.hufflepuff {
  background: #f8d71d;
  color: #203030;
}

.ravenclaw {
  background: rgb(17, 47, 92);
  color: rgb(173, 117, 91);
}

.slytherin {
  background: #006400;
  color: #c0c0c0;
}

.expelled {
  background: #101010;
  color: #efefef;
}

.hello {
  display: block;
}

.card {
  margin-bottom: auto;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.card-left {
  display: block;
}

.card-right {
  align-self: flex-end;
}
