* {
  box-sizing: border-box;
}

:root {
  --gryffindor-bg: rgb(158, 14, 43);
  --gryffindor-bg2: rgb(126, 10, 33);
  --gryffindor-acc: #daa520;
  --hufflepuff-bg: #f8d71d;
  --hufflepuff-bg2: #d6ba18;
  --hufflepuff-acc: #203030;
  --ravenclaw-bg: rgb(17, 47, 92);
  --ravenclaw-bg2: rgb(13, 37, 73);
  --ravenclaw-acc: rgb(173, 117, 91);
  --slytherin-bg: #006400;
  --slytherin-bg2: #014e01;
  --slytherin-acc: #c0c0c0;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 1.3rem;
}

body {
  background: linear-gradient(90deg, #ad9b8b, #e6ded8, #ad9b8b);
  /* background-size: cover; */
}

.hello {
  display: block;
  text-align: center;
}

.hello-background {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhxiqvweoHwwV6eI08eCaSOuT1VOCVPU0S6g&usqp=CAU);
  background-size: cover;
}

.great-hall {
  background-image: url(https://uswalldecor.com/cdn/shop/files/RMK12541M.jpg?v=1695066227);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#top {
  text-align: center;
  height: 120px;
  padding: 40px;
  text-shadow: 0 0 2px white;
  border-bottom: 1px solid black;
}

.filter-bar {
  display: flex;
}

.filter-btn {
  flex-grow: 1;
  text-align: center;
  padding: 10px 20px;
  z-index: 2;
  transition: flex-grow .1s;
  user-select: none;
}

.filter-btn:hover {
  cursor: pointer;
  flex-grow: 1.1;
  font-weight: bold;
}

.hide {
  display: none !important;
}

#toggle-bar {
  position: relative;
  width: 100vw;
}

.toggle {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #efefef50;
  padding: 5px 10px;
  font-size: 0.8rem;
  transition: padding .1s;
  user-select: none;
}

.toggle:hover {
  cursor: pointer;
  padding: 6px 15px;
  font-weight: bold;
} 

.toggle-out {
  background: rgb(168, 0, 0);
  color: #c0c0c0;
}

.show-hat {
  left: 0;
  border-radius: 0 0 5px 0;
}

.show-army {
  right: 0;
  border-radius: 0 0 0 5px;
}

#main-container {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  padding: 30px;
}

#hat {
  min-width: 10rem;
}

.sortingHat {
  width: 10rem;
  text-align: center;
}

.sortingHat button {
  margin: 0 auto;
}

#students {
  display: grid;
  margin-bottom: auto;
  justify-content: space-around;
  gap: 5px;
  width: 100%;
  min-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.few {
  grid-template-columns: 1;
}

.some {
  grid-template-columns: repeat(2, 1fr);
  max-width: 44rem;
}

.many {
  grid-template-columns: repeat(3, 1fr);
  max-width: 66rem;
}

.card.expelled {
  margin-bottom: 5px;
}

.all {
  background: radial-gradient(#efefef, #cdcdcd);
  color: #101010;
}

.all-header {
  background-image: url(https://i.pinimg.com/originals/3a/87/90/3a8790d8665660cc1d385c24d537b910.png);
  background-size: cover;
  background-position-y: -22vw;
}

.all-background {
  background: linear-gradient(90deg, #cdcdcd, #efefef, #cdcdcd)
}

.gryffindor {
  background: radial-gradient(var(--gryffindor-bg), var(--gryffindor-bg2));
  color: var(--gryffindor-acc);
}

.gryffindor-header {
  background-image: url(https://i.pinimg.com/originals/0d/d6/cf/0dd6cf978271a62e2b91de048f415a16.jpg);
  background-size: cover;
  background-position-y: -18vw;
  filter: brightness(75%);
}

.gryffindor-background {
  background: linear-gradient(90deg, var(--gryffindor-bg2), var(--gryffindor-bg), var(--gryffindor-bg2));
  color: var(--gryffindor-acc);
}

.hufflepuff {
  background: radial-gradient(var(--hufflepuff-bg), var(--hufflepuff-bg2));
  color: var(--hufflepuff-acc);
}

.hufflepuff-header {
  background-image: url(https://images4.alphacoders.com/134/1349158.png);
  background-size: cover;
  background-position-y: -28vw;
  filter: brightness(75%);
}

.hufflepuff-background {
  background: linear-gradient(90deg, var(--hufflepuff-bg2), var(--hufflepuff-bg), var(--hufflepuff-bg2));
  color: var(--hufflepuff-acc);
}

.ravenclaw {
  background: radial-gradient(var(--ravenclaw-bg), var(--ravenclaw-bg2));
  color: var(--ravenclaw-acc);
}

.ravenclaw-header {
  background-image: url(https://jerrymarkham.com/wp-content/uploads/Pinnacle-18x14-1.jpg);
  background-size: cover;
  background-position-y: -17vw;
}

.ravenclaw-background {
  background: linear-gradient(90deg, var(--ravenclaw-bg2), var(--ravenclaw-bg), var(--ravenclaw-bg2));
  color: var(--ravenclaw-acc);
}

.slytherin {
  background: radial-gradient(var(--slytherin-bg), var(--slytherin-bg2));
  color: var(--slytherin-acc);
}

.slytherin-header {
  background-image: url(https://i.redd.it/u9cf6xf035cy.jpg);
  background-size: cover;
  background-position-y: -19vw;
  /* filter: hue-rotate(90deg) opacity(75%) grayscale(70%); */
}

.slytherin-background {
  background: linear-gradient(90deg, var(--slytherin-bg2), var(--slytherin-bg), var(--slytherin-bg2));
  color: var(--slytherin-acc);
}

.expelled {
  background: radial-gradient(#39473f,#102010);
}

.expelled h4, .expelled h5, .expelled p { 
  background-image: linear-gradient(#efefef 40%, #797979, #4ba70e);
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 1px 2px rgb(0, 0, 0))
}

.card {
  margin-bottom: auto;
  min-width: 250px;
  max-width: 22rem;
  border: none;
}

.card-body {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 0.25rem;
}

.army-header {
  border: none;
  background-image: url(https://imgix.ranker.com/user_node_img/50127/1002537222/original/1002537222-photo-u1?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=375);
  background-size: 140%;
}

.hat-header-card {
  margin-bottom: 16px;
  border: none;
  background-color: black;
}

.hat-header {
  background-image: url(https://images.ctfassets.net/usf1vwtuqyxm/rH74qQ5ITmBB6HaTSOfFq/e2cc783b0658d19ae7446422e50c78c0/HP-F1-philosophers-stone-ron-sorting-hat-looking-concerned-web-landscape?fm=jpg&q=70&w=2560);
  background-size: 200%;
  top: -5px;
  background-position-x: -64px;
}

.hat-header h4 {
  background-image: linear-gradient(#efefef 40%, #797979);
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 1px 1px black)
}

.army-header h4, .hat-header h4 {
  margin: 0;
}

.card-left {
  display: block;
}

.card-right {
  align-self: flex-end;
}

.expelled-btn {
  border: none;
}

.expelled-btn:hover {
  background-image: url(https://imgix.ranker.com/user_node_img/50127/1002537222/original/1002537222-photo-u1?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=375);
  background-size: 135%;
}
